<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
    <ul>
        <h1><%= title %></h2>
            <li>
                <h2>
                    <%= tour.name %>
                </h2> 
                <p><%= tour.description %> </p>
            </li> 
    </ul>

</body>

<%- include('../partials/footer') %>
